.header(ng-controller='NavbarCtrl')
  ul.nav.nav-pills.pull-right
    li.dropdown
      a.dropdown-toggle(data-toggle='dropdown', href='')
        | {{ currentUser.name }} <span class="caret"></span >
      ul.dropdown-menu
        li
          a(data-toggle='modal', data-target='#myModal', href='') Settings
          a(ng-click='logout()', href='#') Logout

  ul.nav.nav-tabs.pull-right
    li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
      a(ng-href='{{item.link}}') {{item.title}}
  
   h3.text-muted Base App
.modal.fade#myModal(tabindex='-1')
  .modal-dialog
    .modal-content(ng-include='\'partials/settings\'')
